<% content_for :title, "Showing channel" %>

<%= turbo_frame_tag :dashboard do %>
  <div class="flex">
    <%= render "servers/sidebar" %>
    <div class="w-full h-screen bg-indigo-500 pt-8">
      <h1 class="text-2xl text-gray-100 text-center"><%= @server_channel.name %></h1>
      <div class="h-full ">
      </div>
    </div>
  </div>
<% end %>