<div class="w-80 min-h-screen bg-gray-600 flex flex-col p-4">
  <div class="flex justify-end w-full">
    <%= link_to "Create channel", new_server_channel_path(@server), class: "text-lg text-gray-100 px-3 py-2 rounded-lg bg-blue-500" %>
  </div>
  <div class="flex flex-col gap-2 mt-4">
    <% @server.channels.each do |channel| %>
        <%= link_to server_channel_path(@server, channel), data: { turbo_frame: :dashboard } do %>
        <div class="p-2 w-full bg-gray-500">
          <span class="text-xl text-gray-100"><%= channel.name %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>