<% content_for :title, "Showing server" %>

<%= turbo_frame_tag :dashboard do %>
  <div class="w-full h-screen bg-indigo-500 pt-8">
    <h1 class="text-2xl text-gray-100 text-center"><%= @server.name %></h1>

  </div>
<% end %>